* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  height: 100vh;
}

// Top NavBar

.top-nav-bar {
  height: 10vh;
  box-shadow: 0 4px 4px -4px gray;
}

.top-nav-brand {
  font-weight: 800;
}

.top-nav-img-link {
  width: 10vw;
  height: 7vh;
  background: url('../assets/play-store.png') 0 0 / cover no-repeat;
}

.top-nav-items {
  margin-left: 60vw;
}

.top-nav-items a {
  color: black;
}

.cart {
  width: 80px;
  border-radius: 20px;
  background: rgb(127, 0, 247);
}
.cart a {
  color: white;
}

.sections {
  margin-top: 9%;
}

.get-app-wrapper {
  height: 50vh;

  width: 23%;
}

.get-app-inner img {
  width: 70%;
}

.get-app-img {
  cursor: pointer;
  width: 150px;
}

.get-app-text {
  font-size: 15px;
}

// Services Section

.services {
  width: 60%;
}

.services-text {
  font-weight: 500;
  font-size: 25px;
}

.commodity {
  background: rgb(230, 229, 229);
  box-shadow: 0 4px 4px -4px gray;
  margin: 5px;
  border-radius: 7px;
  padding: 10px;
  width: 35%;
  height: 15vh;
}

.commodity-logo {
  width: 30%;
}

.commodity-main-text {
  font-weight: 700;
  font-size: 15px;
}

.commodity-desc {
  font-size: 12px;
}

.footer {
  padding: 25px;
}

.footer-items {
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (max-width: 768px) {
  .top-nav-bar {
    height: 10vh;
  }
  .top-nav-items {
    margin-left: 5vw;
  }

  .top-nav-img-link {
    width: 20vw;
    background: url('../assets/play-store.png') 0 0 / cover no-repeat;
  }

  .sections {
    padding: 20px;
    width: 95vw;
  }
  .commodities {
    width: 90vw;
    background: url('../assets/home-bg.jpg') 0 0 / cover no-repeat;
  }
  .commodities-1 {
    margin-left: 20%;
    flex-direction: column;
  }
  .commodities-2 {
    margin-left: 20%;
    flex-direction: column;
  }
  .commodities-3 {
    margin-left: 20%;
    flex-direction: column;
  }
  .commodity {
    width: 15em;
  }
  .services-img {
    display: none;
  }
  .mobile-app-section {
    flex-direction: column;
    width: 95vw;
  }
  .get-app-wrapper {
    display: none;
  }
  .footer {
    width: 95vw;
    flex-direction: column;
  }
  .footer-items {
    padding: 15px;
  }
  .footer-items p {
    padding: 5px;
    cursor: pointer;
  }
}
